*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gameContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.container{
    width: 80%;
    height: auto;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    border-radius: 25px;
    text-align: center;
}
figcaption{
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
}
.choises{
    display: flex;
    gap: 30px;
}
button{
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 1.15rem;
    text-transform: capitalize;
    cursor: pointer;
}
button:hover{
    filter: brightness(1.2);
}
#paper{
    background-color: rgb(12, 131, 12);
    border: none;
    color: white;
}
#scessor{
    background-color: rgb(47, 111, 196);
    border: none;
    color: white;
}
#rock{
    background-color: rgb(255, 0, 170);
    border: none;
    color: white;
}
h1{
    font-size: 2rem;
    text-transform: capitalize;
}
@media screen and (max-width : 700px) {
    body{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .gameContainer{
        width: 100%;
        height: 50%;
        transform: rotate(270deg);
    }
    .container{
        width: auto;
        gap: 20px;
    }
    .container figure img{
        width: 80px;
        height: 80px;
    }
    figcaption{
        font-size: 1.3rem;
    }
    button{
        font-size: 1rem;
    }
    h1{
        font-size: 1.5rem;
    }
}